@import "../variables/Variables.scss";

.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: $redColor;
  }

  button {
    @include buttonStyle($redColor, 15px);
  }
}
